@model ConsoleAppProject.App02.BMICalculator
@{
    ViewData["Title"] = "BMI";
}
<header class=" jumbotron">
    <h1>BMI Calculator</h1>
    <h2>By Vincent Assolutissimamente</h2>
    <p>
        This app will use your body weight and height to calculate 
        a BMI index with can be used to classify your health risks
    </p>
</header>
<section>
    <form method="post">

        <h2>Imperial</h2>
        <p>
            Please enter your height and weight
        </p>
        <label for="unit-select">Choose a unit of measurment: </label>
        <select multiple size="1" name="unit-select" asp-for="@Model.Units">
            <option selected value="Metric">Metric</option>
            <option selected value="Imperial">Imperial</option>
        </select>
        <p>
            <input type="number" placeholder="Feet"
                   value="6" asp-for="@Model.Height" />
        </p>
        <p>
            <input type="number" placeholder="Stone"
                   value="13" asp-for="@Model.Weight" />
        </p>
        <p>
            <button class=" btn btn-success" type="submit">Calculate</button>
        </p>
    </form>
</section>


