@{
    ViewData["Title"] = "V.A Home Page";
}

<header class="text-center justify-content-xl-start">
    <h1 class="display-3">C0452 Applications programming</h1>
    <h2 class=" display-4">By Vincent Assolutissimamente</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</header>
<section>
    <ol class=" list-group">
        <li class="list-group-item">
            <a href="Home/DistanceConverter">Distance Converter</a>
        </li>
        <li class="list-group-item">
            <a>BMI Calculator</a>
        </li>
    </ol>
</section>
