@{
    ViewData["Title"] = "V.A Home Page";
}

<header class="text-center jumbotron justify-content-xl-start">
    <h1 class="display-3">C0452 Applications programming</h1>
    <h2 class=" display-4">By Vincent Assolutissimamente</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</header>
<section>
    <ol class=" list-group">
        <li class="list-group-item">
            <a class=" btn btn-success" asp-controller="Home" asp-action="DistanceConverter">App01: Distance Converter</a>
        </li>
        <li class="list-group-item">
            <a class=" btn btn-info" asp-controller="Home" asp-action="BMI">App02: BMI Calculator</a>
        </li>
    </ol>
</section>
